@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');


a{
   text-decoration: none;
   color: #393E41;
}

body{
   background-color: #E7E5DF;
   font-family: Catamaran;
   position: absolute;
   top:-10px;
   left: -10px;

   height: 100rem;

}
.special{
  color: #9395D3;
   text-decoration: underline;
   text-decoration-color: #9395D3;
   animation-name: fadeIn;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}
h1 {
   position: absolute;
   top: 20px;
}

p{
   font-size: 4rem;
   color: #393E41;
   position: absolute;
   top: 150px;
   left: 50px;
}
#AboutBut{
   position: absolute;
   left: 360px;
}

#HomeBut{
   position: absolute;
   left: 200px;
}
.buttons {
   color: #E7E5DF;
}


#logo {
   width: 6rem;
   height: 6rem;
   position: absolute;
   left: 20px;
   z-index: 2;
   top: 20px;
}

#LinkBar{
   width: 100vw;
   height: 130px;
   background: #383F51;
   position: sticky;
}

.myLinks{
   position: absolute;
   bottom: 20px;
}


#github {left: 250px;}  #itch {left: 50px;}  #email{left: 450px;} #youtube{left:650px;}

.myLinks:hover {
   animation-fill-mode: forwards;
   animation-name: enlarge;
   animation-duration: 0.25s;
}

@keyframes enlarge {
   0% {height: auto; width: 165px}
   50% {height: auto; width: 155px}
   100% {height: auto; width: 150px}
}

@keyframes fadeIn {
   0%{opacity: 0.25}
   25%{opacity: 0.5;}
   75%{opacity: 0.75;}
   100%{opacity: 1;}
}