@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');




a{
   text-decoration: none;
   color: #393E41;
}

body{
   background-color: #E7E5DF;
   font-family: Catamaran;
   position: absolute;
   top:-10px;
   left: -10px;

   height: 3000px;

}
.special{
  color: #9395D3;

}
h1 {
   position: absolute;
   top: 20px;
}

p{
   font-size: 4rem;
   color: #393E41;
   position: absolute;
   top: 150px;
   left: 50px;
}
#AboutBut{
   position: absolute;
   left: 360px;
}

#HomeBut{
   position: absolute;
   left: 200px;
}
.buttons {
   color: #E7E5DF;
}


#logo {
   width: 6rem;
   height: 6rem;
   position: absolute;
   left: 20px;
   z-index: 2;
   top: 20px;
}

#LinkBar{
   width: 99vw;
   height: 130px;
   background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(56,63,81,1)  7%, rgba(56,63,81,1) 100%);
   position: sticky;
}

.myLinks{
   position: absolute;
   bottom: 200px;

}


#github {
   left: 250px;
   height: 155px;
   width: 155px;

}


#itch {
   position: absolute;
   left: 50px;
}


